.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: auto;
}

.footer__bottom {
    text-align: center;
    font-size: 12px;
    color: #aaa;
}